<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<footer class="bg-gray-900 p-20 flex justify-between mt-10">
    <h2 class="text-white">MyAssignment</h2>
    <ul class="flex gap-x-2 ">
        <li>
            <a href="/api/v1/users" class="text-white">users</a>
        </li>
        <li>
            <a href="/api/v1/add-user-form" class="text-white">add user</a>
        </li>
    </ul>
</footer>
</body>
</html>